# **Simple Exercises**

**1.Basic Assignment**: Create a variable called `name` and assign your name to it. Then print the variable.

In [1]:
name = "variable"
print(name)

**2. Multiple Assignment:** Create three variables `a`
, `b`, and `c` and assign the values 1, 2, and 3 to them in a single line. Print the values of all three variables.

The right-hand side (1, 2, 3) is interpreted as a tuple (even though you didn't write parentheses — it's a feature called "tuple packing")

In [2]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

3. **Value Swapping:** Create two variables `x` and `y`with values 10 and 20. Swap their values using a third variable `temp`. Print the values before and after swapping

In [3]:
x = 10
y = 20
temp = x
x = y
y = temp
print(x,y)

20 10

# **Intermediate Exercises**

## Intermediate Exercises

1. **Multiple Value Swap**: Create three variables `a`, `b`, and `c` with values 5, 10, and 15. Swap their values so that `a` gets `b`'s value, `b` gets `c`'s value, and `c` gets `a`'s value. Use Python's tuple unpacking feature.

In [4]:
a,b,c = 5,10,15
a,b,c = b,c,a
print(a,b,c)

10 15 5

2. **Augmented Assignment**: Create a variable `counter` with the value 0. Use augmented assignment operators to increase it by 5, then multiply it by 2, then divide it by 3, and finally subtract 1. Print the final value.

In [5]:
counter = 0
counter += 5
counter *= 2
counter /= 3
counter -= 1

print(counter)

2.3333333333333335

3. **Variable Naming and Conventions**: Create variables to store the following information according to Python naming conventions: a person's first name, last name, age, is_student status (boolean), and average_grade. Assign appropriate values and print them.

In [8]:
 first_name = "John"
 last_name = "Smith"
 age = 22
 is_student = True
 average_grade = 9
print("First Name:", first_name)
print("Last Name:", last_name)
print("Age:", age)
print("Is Student:", is_student)
print("Average Grade:", average_grade)

First Name: John
Last Name: Smith
Age: 22
Is Student: True
Average Grade: 9

# **Applied Exercises (Real-World Problems)**

1. **Temperature Converter**: Write a program that assigns a temperature in Celsius to a variable. Then convert it to Fahrenheit using the formula `F = C * 9/5 + 32` and store the result in a different variable. Display both temperatures with appropriate labels.

In [13]:
temp_celsius = float(input("Enter temperature in Celsius: "))
temp_fahrenheit  = temp_celsius * 9/5 +32

print("Temperature in Celsius:", temp_celsius, "°C")
print("Temperature in Fahrenheit:", temp_fahrenheit, "°F")

Enter temperature in Celsius: 27
Temperature in Celsius: 27.0 °C
Temperature in Fahrenheit: 80.6 °F

2. **Simple Interest Calculator**: Create a program that calculates simple interest. Assign values to variables for principal amount, rate of interest (as a decimal), and time period (in years). Calculate the interest using the formula `interest = principal * rate * time` and store it in a new variable. Display the principal and the interest earned.

In [15]:
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the interest rate (as a decimal): "))
time = float(input("Enter the time period in years: "))

interest = principal * rate * time

print("Principal Amount:", principal)
print("Simple Interest Earned:", interest)

Enter the principal amount: 1000
Enter the interest rate (as a decimal): 4.2
Enter the time period in years: 10
Principal Amount: 1000.0
Simple Interest Earned: 42000.0

# Python Variable Assignment Exercises

## Simple Exercises

1. **Basic Assignment**: Create a variable called `name` and assign your name to it. Then print the variable.

2. **Multiple Assignment**: Create three variables `a`, `b`, and `c` and assign the values 1, 2, and 3 to them in a single line. Print the values of all three variables.

3. **Value Swapping**: Create two variables `x` and `y` with values 10 and 20. Swap their values using a third variable `temp`. Print the values before and after swapping.

3. **Shopping Cart Total**: Create variables to represent items in a shopping cart with their prices. Calculate the subtotal, add a tax rate of 7.5%, and store the final total in a variable. Print an itemized receipt showing each item's price, the subtotal, tax amount, and total.

In [20]:
shopping_cart = {
    "Apple": 0.75,
    "Bread": 2.50,
    "Milk": 3.00
}

subtotal = sum(shopping_cart.values())

tax_rate = 0.075  # 7.5% tax rate
tax = subtotal * tax_rate

total = subtotal + tax

print("Itemized Receipt:")
print("-----------------")
for item, price in shopping_cart.items():
    print(f"{item:10s}: ${price:6.2f}")
print("-----------------")
print(f"Subtotal   : ${subtotal:6.2f}")
print(f"Tax (7.5%) : ${tax:6.2f}")
print(f"Total      : ${total:6.2f}")

Itemized Receipt:
-----------------
Apple     : $  0.75
Bread     : $  2.50
Milk      : $  3.00
-----------------
Subtotal   : $  6.25
Tax (7.5%) : $  0.47
Total      : $  6.72